/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $HELPERS
    -> Extends, Functions, Mixins, Animations
\*------------------------------------*/
/* line 15, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
body.fixed {
  padding: 68px 0 0;
}

/*------------------------------------*\
    $PATTERN-HEADER
\*------------------------------------*/
/* line 23, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-index-page {
  padding: 40px 0;
}
/* line 25, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-index-page h1 {
  font-size: 34px;
  margin-bottom: 30px;
}
/* line 30, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-index-page .index_page_group {
  border: 2px solid #E1E1E1;
  margin-bottom: 30px;
}
/* line 33, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-index-page .index_page_group h2 {
  background: #EFEFEF;
  border-bottom: 2px solid #E1E1E1;
  color: #747474;
  font-size: 26px;
  padding: 12px;
}
/* line 40, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-index-page .index_page_group li a {
  display: block;
  padding: 18px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #E1E1E1;
}
/* line 46, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-index-page .index_page_group li a small {
  display: block;
  margin-top: 8px;
  font-size: 15px;
  font-weight: normal;
}
/* line 52, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-index-page .index_page_group li a:hover {
  background: #f1f1f1;
}

/*------------------------------------*\
    $PATTERN-HEADER
\*------------------------------------*/
/* line 64, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-header {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 4px solid #e8e8e8;
  overflow: hidden;
}
/* line 69, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-header .logo-pattern {
  display: block;
  float: left;
  max-height: 40px;
  width: auto;
  margin: 10px 20px;
}
/* line 76, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-header .icon-menu-pattern {
  display: block;
  float: right;
  margin: 18px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
/* line 84, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-header .icon-menu-pattern span {
  color: #5e9fa3;
  font-size: 30px;
  font-size: 1.875rem;
}
/* line 89, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.fixed .pattern-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/*------------------------------------*\
    $PATTERN-FOOTER
\*------------------------------------*/
/* line 101, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-footer {
  padding: 24px;
  text-align: center;
  border-top: 2px solid #e8e8e8;
}

/*------------------------------------*\
    $PATTERN-CONTAINER
\*------------------------------------*/
/* line 111, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-container {
  width: 94%;
  margin: 0 auto;
  padding: 30px 0;
}

/*------------------------------------*\
    $PATTERN TITLES
\*------------------------------------*/
/* line 121, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-title {
  display: block;
  font-size: 36px;
  font-weight: bold;
  padding: 20px 0;
  color: #212121;
}

/* line 129, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-subtitle {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #747474;
}

/* line 136, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-text {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 28px;
}

/*------------------------------------*\
    $PATTERN-COLOR
\*------------------------------------*/
/* line 146, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-color-wrapper {
  overflow: hidden;
  margin-bottom: 40px;
}

/* line 151, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-color {
  border: 2px solid #e1e1e1;
  border-radius: 6px;
  overflow: hidden;
  width: 240px;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 20px;
}
/* line 159, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-color .color-bg {
  width: 100%;
  height: 80px;
}
/* line 163, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-color .color-descripcion {
  padding: 14px;
}
/* line 165, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-color .color-descripcion p + p {
  margin-top: 8px;
}

/*------------------------------------*\
    $PATTERN-COLOR
\*------------------------------------*/
/* line 174, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-icon-wrapper {
  overflow: hidden;
  margin-bottom: 40px;
}
/* line 177, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-icon-wrapper p {
  margin: 14px 0;
  font-size: 20px;
}
/* line 180, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-icon-wrapper p span {
  vertical-align: middle;
}
/* line 183, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-icon-wrapper p .icon {
  font-size: 40px;
  margin-right: 12px;
}

/*------------------------------------*\
    $PATTERN-SLAB
\*------------------------------------*/
/* line 194, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-slab-wrapper {
  overflow: hidden;
  padding: 40px 20px;
  margin-bottom: 40px;
}

/*------------------------------------*\
    $PATTERN-TYPOGRAPHY
\*------------------------------------*/
/* line 204, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-typography {
  font-size: 20px;
}
/* line 206, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-typography p {
  margin-bottom: 24px;
}

/*------------------------------------*\
    $PATTERN-HEADINGS
\*------------------------------------*/
/* line 216, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-headings .pattern-row + .pattern-row {
  margin-top: 24px;
}

/*------------------------------------*\
    $PATTERN-GRID
\*------------------------------------*/
/* line 226, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-grid .g {
  margin-bottom: 20px;
}
/* line 229, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern-grid .gi {
  background: #eeeeee;
  border: 1px solid #cccccc;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

/*------------------------------------*\
    $PATTERN
\*------------------------------------*/
/* line 242, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern {
  border: 2px solid #e1e1e1;
  border-radius: 6px;
  margin-bottom: 60px;
}
/* line 246, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern .pattern-description {
  background: #efefef;
  border-bottom: 2px solid #e1e1e1;
  padding: 20px;
  font-size: 18px;
  color: #343436;
}
/* line 252, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern .pattern-description strong {
  color: #111113;
}
/* line 255, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern .pattern-description p + p {
  margin-top: 10px;
}
/* line 259, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern .pattern-content {
  padding: 20px;
}
/* line 261, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/patterns.css.scss */
.pattern .pattern-content:after {
  clear: both;
  content: '';
  display: table;
}
