/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $HELPERS
    -> Extends, Functions, Mixins, Animations
\*------------------------------------*/
/*------------------------------------*\
    $NORMALIZE
\*------------------------------------*/
/* line 7, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 21, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_normalize.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* line 32, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_normalize.scss */
body {
  margin: 0;
}

/* line 36, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_normalize.scss */
a {
  background: transparent;
}

/* line 40, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 44, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 49, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_normalize.scss */
h1, h2, h2, h3, h4, h6 {
  margin: 0;
}

/* line 59, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_normalize.scss */
p {
  margin: 0;
}

/* line 63, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_normalize.scss */
::selection {
  background: #5e9fa3;
  color: #FFF;
}

/* line 67, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_normalize.scss */
::-moz-selection {
  background: #5e9fa3;
  color: #FFF;
}

/* line 72, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_normalize.scss */
ul, ol, dl, dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 78, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_normalize.scss */
img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

/* line 85, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_normalize.scss */
iframe {
  max-width: 100%;
}

/* line 89, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_normalize.scss */
figure {
  margin: 0;
}

/* line 93, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
    $BASE
\*------------------------------------*/
/* Tipos */
@font-face {
  font-family: "proxima-nova";
  src: url("../fonts/proxima-nova.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proxima-nova.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova.woff") format("woff"), url("../fonts/proxima-nova.ttf") format("truetype"), url("../fonts/proxima-nova.svg#proxima-nova") format("svg");
  /* Legacy iOS */
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "proxima-nova";
  src: url("../fonts/proxima-nova-regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proxima-nova-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova-regular.woff") format("woff"), url("../fonts/proxima-nova-regular.ttf") format("truetype"), url("../fonts/proxima-nova-regular.svg#proxima-nova") format("svg");
  /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "museo-slab";
  src: url("../fonts/museo-slab.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/museo-slab.eot?#iefix") format("embedded-opentype"), url("../fonts/museo-slab.woff") format("woff"), url("../fonts/museo-slab.ttf") format("truetype"), url("../fonts/museo-slab.svg#museo-slab") format("svg");
  /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/montserrat.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat.woff") format("woff"), url("../fonts/montserrat.ttf") format("truetype"), url("../fonts/montserrat.svg#montserrat") format("svg");
  /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
/* Global */
/* line 19, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_base.scss */
html {
  font-size: 100%;
  overflow-x: hidden;
}

/* line 24, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_base.scss */
body {
  background: #f1f1f1;
  color: #565A5C;
  font-family: "proxima-nova", sans-serif;
  font-size: 100%;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 34, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_base.scss */
section, p, article, img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 42, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_base.scss */
.right {
  float: right;
}

/* line 46, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_base.scss */
.left {
  float: left;
}

/* line 50, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_base.scss */
.white-bg {
  background: #fff;
}

/* line 54, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_base.scss */
.center {
  text-align: center;
}

/* Block Content */
/* Inline Content */
/* line 65, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_base.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 70, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_base.scss */
a:focus {
  outline: none;
}

/* line 74, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_base.scss */
p a {
  color: #5e9fa3;
}

/* line 78, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_base.scss */
.transition {
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  transition: all .9s ease;
}

/*------------------------------------*\
    js-sensor
    -> Relocate html in responsive
\*------------------------------------*/
/* line 89, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_base.scss */
.js-sensor {
  display: none;
  margin-left: 0px;
}

@media only screen and (min-width: 34.375em) and (max-width: 55.62438em) {
  /* line 95, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_base.scss */
  .js-sensor {
    margin-left: 1px;
  }
}
@media only screen and (min-width: 55.625em) {
  /* line 101, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_base.scss */
  .js-sensor {
    margin-left: 2px;
  }
}
/*------------------------------------*\
  $HEDINGS
\*------------------------------------*/
/* line 6, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_headings.scss */
h1, .h-alpha {
  font-size: 36px;
  font-size: 2.25rem;
}

/* line 10, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_headings.scss */
h2, .h-beta {
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: 100;
}

/* line 15, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_headings.scss */
h3, .h-gamma {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 100;
}

/* line 20, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_headings.scss */
h4, .h-epsilon {
  font-size: 18px;
  font-size: 1.125rem;
}

@media only screen and (min-width: 34.375em) {
  /* line 25, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_headings.scss */
  h1, .h-alpha {
    font-size: 46px;
    font-size: 2.875rem;
  }

  /* line 28, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_headings.scss */
  h2, .h-beta {
    font-size: 36px;
    font-size: 2.25rem;
  }

  /* line 31, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_headings.scss */
  h3, .h-gamma {
    font-size: 30px;
    font-size: 1.875rem;
  }

  /* line 34, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_headings.scss */
  h4, .h-epsilon {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/* line 7, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_layout.scss */
.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
@media only screen and (min-width: 55.625em) {
  /* line 7, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_layout.scss */
  .wrapper {
    width: 90%;
  }
}

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
/* Grid Container */
/* line 22, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_layout.scss */
.g {
  letter-spacing: -0.35em;
}
/* line 24, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_layout.scss */
.g > * {
  letter-spacing: normal;
}

/* Grid Item */
/* line 30, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_layout.scss */
.gi {
  letter-spacing: normal;
}
@media only screen and (min-width: 34.375em) {
  /* line 30, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_layout.scss */
  .gi {
    display: inline-block;
    vertical-align: top;
  }
}

/* line 39, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_layout.scss */
.hidden {
  display: none !important;
}

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
/* line 6, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
form {
  margin: 0;
}

/* line 10, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* line 16, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
button,
input,
textarea {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 23, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 28, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 33, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

/* line 38, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

/* line 42, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
button {
  border: none;
  background: none;
}

/* line 47, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
::-webkit-input-placeholder {
  color: #434343;
}

/* line 51, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
::-moz-placeholder {
  color: #434343;
}

/* line 55, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
:-ms-input-placeholder {
  color: #434343;
}

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/
/* line 62, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
.login-box {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}
/* line 66, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
.login-box .h-beta {
  text-align: center;
  padding: 30px 0px;
}
/* line 70, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
.login-box .links {
  margin-top: 10px;
}

/* line 75, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
.login-form {
  width: 100%;
  background: #fff;
  padding: 30px;
}
/* line 79, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
.login-form input {
  width: 100%;
  padding: 15px;
  border: 1px solid #f1f1f1;
}
/* line 84, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
.login-form .form-item {
  margin-bottom: 10px;
}
/* line 86, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
.login-form .form-item .message {
  color: #990100;
  visibility: hidden;
  font-size: 12px;
  font-size: 0.75rem;
}
/* line 92, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
.login-form .form-item.error input {
  border: 1px solid #990100;
}
/* line 95, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
.login-form .form-item.error .message {
  visibility: visible;
}

@media only screen and (min-width: 34.375em) {
  /* line 103, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
  .login-box {
    width: 70%;
  }
}
/* line 108, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_forms.scss */
input[disabled="true"] {
  background: #fff;
  padding-left: 20px;
}

/*------------------------------------*\
    $GRID
\*------------------------------------*/
/* line 104, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
.one-whole, .one-half, .two-quarters, .three-sixths, .one-third, .two-sixths, .two-thirds, .four-sixths, .one-quarter, .three-quarters, .one-fifth, .two-fifths, .three-fifths, .four-fifths {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}

/* line 109, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
.one-whole {
  width: 100%;
}

/* line 115, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
.one-half, .two-quarters, .three-sixths {
  width: 50%;
}

/* line 120, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
.one-third, .two-sixths {
  width: 33.333%;
}

/* line 121, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
.two-thirds, .four-sixths {
  width: 66.666%;
}

/* line 127, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
.one-quarter {
  width: 25%;
}

/* line 129, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
.three-quarters {
  width: 75%;
}

/* line 135, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
.one-fifth {
  width: 20%;
}

/* line 136, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
.two-fifths {
  width: 40%;
}

/* line 137, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
.three-fifths {
  width: 60%;
}

/* line 138, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
.four-fifths {
  width: 80%;
}

/* line 144, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
.one-sixth {
  width: 16.666%;
}

/* line 148, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
.five-sixths {
  width: 83.333%;
}

@media only screen and (min-width: 34.375em) {
  /* line 22, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .lap-one-whole {
    width: 100%;
  }

  /* line 27, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .lap-one-half, .lap-two-quarters, .lap-three-sixths {
    width: 50%;
  }

  /* line 32, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .lap-one-third, .lap-two-sixths {
    width: 33.333%;
  }

  /* line 33, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .lap-two-thirds, .lap-four-sixths {
    width: 66.666%;
  }

  /* line 39, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .lap-one-quarter {
    width: 25%;
  }

  /* line 41, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .lap-three-quarters {
    width: 75%;
  }

  /* line 47, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .lap-one-fifth {
    width: 20%;
  }

  /* line 48, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .lap-two-fifths {
    width: 40%;
  }

  /* line 49, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .lap-three-fifths {
    width: 60%;
  }

  /* line 50, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .lap-four-fifths {
    width: 80%;
  }

  /* line 56, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .lap-one-sixth {
    width: 16.666%;
  }

  /* line 60, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .lap-five-sixths {
    width: 83.333%;
  }
}
@media only screen and (min-width: 55.625em) {
  /* line 22, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .desk-one-whole {
    width: 100%;
  }

  /* line 27, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .desk-one-half, .desk-two-quarters, .desk-three-sixths {
    width: 50%;
  }

  /* line 32, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .desk-one-third, .desk-two-sixths {
    width: 33.333%;
  }

  /* line 33, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .desk-two-thirds, .desk-four-sixths {
    width: 66.666%;
  }

  /* line 39, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .desk-one-quarter {
    width: 25%;
  }

  /* line 41, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .desk-three-quarters {
    width: 75%;
  }

  /* line 47, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .desk-one-fifth {
    width: 20%;
  }

  /* line 48, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .desk-two-fifths {
    width: 40%;
  }

  /* line 49, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .desk-three-fifths {
    width: 60%;
  }

  /* line 50, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .desk-four-fifths {
    width: 80%;
  }

  /* line 56, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .desk-one-sixth {
    width: 16.666%;
  }

  /* line 60, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/base/_grid.scss */
  .desk-five-sixths {
    width: 83.333%;
  }
}
/*------------------------------------*\
  $BUTTONS
\*------------------------------------*/
/* line 6, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_buttons.scss */
.button {
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 30px;
  font-weight: 700;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

/* line 17, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_buttons.scss */
.button-normal {
  background: #b05574;
  border: 1px solid #a14b68;
}
/* line 20, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_buttons.scss */
.button-normal:hover {
  background: #8f435d;
}

/* line 25, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_buttons.scss */
.button-transparent {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #fff;
}

/* line 30, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_buttons.scss */
.button-primary {
  background: #5e9fa3;
}

/*------------------------------------*\
  $DASHBOARD
\*------------------------------------*/
/* line 6, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.dashboard {
  margin-bottom: 20px;
}
/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/globals/_mixins.scss */
.dashboard:after {
  clear: both;
  content: '';
  display: table;
}
/* line 9, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.dashboard h3 {
  color: #656a74;
}
/* line 12, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.dashboard .h-epsilon {
  background: #b05574;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

/* line 22, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.chat {
  width: 90%;
  float: none;
  margin: 0px;
  border: 1px solid #f1f1f1;
  max-width: none;
  margin: 0px auto 20px;
  height: 530px;
  position: relative;
  -webkit-box-shadow: 1px 1px 1px #f1f1f1;
  -moz-box-shadow: 1px 1px 1px #f1f1f1;
  box-shadow: 1px 1px 1px #f1f1f1;
  overflow: hidden;
}
/* line 35, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.chat .chat-img {
  text-align: center;
}

/* line 39, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.chat-content {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 83px;
  overflow: auto;
  padding: 20px;
}

/* line 48, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.h-epsilon {
  padding: 10px 0px;
  text-align: center;
}

/* line 52, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.chat-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
/* line 57, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.chat-footer input {
  outline: none;
}
/* line 61, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.chat-footer.blocked:before {
  content: "\e605";
  font-family: "icomoon";
  color: #9c9c9c;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  vertical-align: middle;
}

/* line 70, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
input {
  width: 100%;
  border: none;
  padding: 10px;
}

/* line 75, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.button-row {
  width: 90%;
  margin: 0 auto;
  padding: 40px 0px;
}
/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/globals/_mixins.scss */
.button-row:after {
  clear: both;
  content: '';
  display: table;
}

/* line 81, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results {
  background: #fff;
  padding: 20px;
  width: 90%;
  float: none;
  margin: 0px auto 20px auto;
  position: relative;
  height: 530px;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: 1px 1px 1px #f1f1f1;
  -moz-box-shadow: 1px 1px 1px #f1f1f1;
  box-shadow: 1px 1px 1px #f1f1f1;
  overflow: hidden;
}
/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/globals/_mixins.scss */
.results:after {
  clear: both;
  content: '';
  display: table;
}
/* line 95, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results .button {
  float: right;
}
/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results.add .results-list {
  bottom: 160px;
}
/* line 103, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results .results-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
  border-top: 1px solid #f1f1f1;
  background: #fbfbfb;
}
/* line 111, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results .results-footer input {
  width: 49%;
  float: left;
  outline: none;
  border: 1px solid #f1f1f1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0px 1% 1% 0px;
}
/* line 119, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results .results-footer .button {
  border-top: none;
  width: 49%;
  margin: 0px 1% 0px 0px;
  float: left;
}
/* line 124, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results .results-footer .button:hover {
  opacity: .9;
}

/* line 131, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  padding: 0px 20px 20px 20px;
}
/* line 139, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list .go {
  border: 1px solid #5e9fa3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 6px 10px;
}
/* line 143, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list .go:hover {
  background: #f0f6f6;
}
/* line 146, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list .go span {
  vertical-align: middle;
}
/* line 150, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list li {
  border-bottom: 1px solid #f1f1f1;
  padding: 20px 0px;
  position: relative;
  min-height: 110px;
}
/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/globals/_mixins.scss */
.results-list li:after {
  clear: both;
  content: '';
  display: table;
}
/* line 156, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list li.searching {
  text-align: center;
  border-bottom: none;
}
/* line 159, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list li.searching .explanation {
  display: block;
  text-transform: uppercase;
  color: #5e9fa3;
  margin-top: 5px;
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 167, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list li.empty {
  text-align: center;
}
/* line 169, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list li.empty span {
  color: #b05574;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875rem;
  vertical-align: middle;
}
/* line 177, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list li .main-info .title,
.results-list li .main-info .description,
.results-list li .main-info .link {
  display: block;
}
/* line 182, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list li .main-info .link {
  color: #5e9fa3;
}
/* line 185, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list li .main-info .description {
  font-size: 15px;
  font-size: 0.9375rem;
}
/* line 188, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list li .main-info .title {
  text-transform: uppercase;
  font-weight: 700;
}
/* line 193, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list li .price {
  width: 80%;
  float: left;
  font-size: 30px;
  font-size: 1.875rem;
  color: #b05574;
  text-align: left;
}
/* line 200, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list li .go {
  color: #5e9fa3;
  position: absolute;
  bottom: 20px;
  right: 0px;
}
/* line 208, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list .profile,
.results-list .info,
.results-list .rating {
  vertical-align: middle;
  display: inline-block;
}
/* line 214, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list .info,
.results-list .rating {
  width: 38%;
}
/* line 218, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list .profile {
  text-align: center;
}
/* line 221, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list .info {
  padding-left: 20px;
  font-size: 20px;
  font-size: 1.25rem;
}
/* line 224, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list .info span {
  display: block;
}
/* line 228, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list .rating {
  text-align: right;
  color: #d7d7d7;
}
/* line 231, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list .rating .icon {
  font-size: 20px;
  font-size: 1.25rem;
}
/* line 234, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list .rating .active {
  color: #5e9fa3;
}
/* line 238, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.results-list .kind {
  color: #b05574;
}

/* line 243, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.top-banner {
  padding: 40px 0px;
  text-align: center;
}
/* line 246, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.top-banner .wrapper {
  position: relative;
  width: 90%;
  margin: 0px auto;
}
/* line 251, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.top-banner .task-wrapper {
  position: relative;
}
/* line 254, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.top-banner .task-box {
  max-width: 1024px;
}
/* line 257, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.top-banner .h-beta {
  display: inline-block;
}
/* line 260, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.top-banner .time-left {
  color: #b05574;
  font-size: 20px;
  font-size: 1.25rem;
  float: right;
  border: 1px solid #b05574;
  padding: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
}
/* line 269, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.top-banner .time-left span {
  vertical-align: middle;
}

/* line 275, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.dashboard-title {
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 279, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.dashboard-title span {
  color: #5e9fa3;
}

/* Assistant Dashboard */
/* line 287, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.assistant-dashboard {
  margin-bottom: 20px;
}
/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/globals/_mixins.scss */
.assistant-dashboard:after {
  clear: both;
  content: '';
  display: table;
}
/* line 290, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.assistant-dashboard section {
  background: #fff;
  min-height: 225px;
}
/* line 294, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.assistant-dashboard .row {
  margin: -1% auto;
}
/* line 297, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.assistant-dashboard .user-profile {
  width: 98%;
  margin: 2% auto 1%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}
/* line 302, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.assistant-dashboard .user-profile img {
  width: 80px;
  height: 80px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin: 30px 6px 30px 25px;
}
/* line 310, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.assistant-dashboard .user-profile .user-data {
  display: inline-block;
  vertical-align: middle;
  color: #4D5159;
  width: 55%;
}
/* line 316, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.assistant-dashboard .user-profile .user-info {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/globals/_mixins.scss */
.assistant-dashboard .user-profile .user-info:after {
  clear: both;
  content: '';
  display: table;
}
/* line 322, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.assistant-dashboard .user-profile .user-info li {
  width: 33.3%;
  float: left;
  text-align: center;
}
/* line 326, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.assistant-dashboard .user-profile .user-info li a {
  padding: 15px;
  display: inline-block;
  color: #fff;
  position: relative;
}
/* line 332, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.assistant-dashboard .user-profile .user-info li .icon {
  display: block;
  font-size: 20px;
  font-size: 1.25rem;
}
/* line 336, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.assistant-dashboard .user-profile .user-info li.fav {
  background: #5e9fa3;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 342, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.assistant-dashboard .user-profile .user-info li.users {
  background: #b05574;
}
/* line 345, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.assistant-dashboard .user-profile .user-info li.settings {
  background: #5e9fa3;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 354, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.assistant-dashboard .money {
  width: 98%;
  margin: 2% auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  position: relative;
}
/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/globals/_mixins.scss */
.assistant-dashboard .money:after {
  clear: both;
  content: '';
  display: table;
}
/* line 361, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.assistant-dashboard .money .dashboard-title {
  margin-bottom: 10px;
}
/* line 365, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.assistant-dashboard .money .current .number {
  font-size: 70px;
  font-size: 4.375rem;
  color: #5e9fa3;
  text-align: center;
}
/* line 371, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.assistant-dashboard .money .mission {
  width: 40%;
}
/* line 374, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.assistant-dashboard .money .button {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 24px 30px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 391, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.searching {
  width: 98%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 2% auto;
}
/* line 396, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.searching .searching-list li {
  padding: 17px;
  border-bottom: 1px solid #f1f1f1;
  color: #4D5159;
  position: relative;
}
/* line 401, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.searching .searching-list li .icon {
  margin-right: 5px;
  color: #5e9fa3;
}
/* line 405, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.searching .searching-list li .switch-wrapper {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
}
/* line 410, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.searching .searching-list li.on .switch-wrapper {
  background: #5e9fa3;
}
/* line 412, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.searching .searching-list li.on .switch-wrapper:before {
  content: "ON";
  color: #b05574;
  font-weight: 700;
  position: relative;
  top: 4px;
  left: 8px;
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 421, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.searching .searching-list li.on .switch-wrapper .switch-button {
  background: #b05574;
  right: 5px;
}
/* line 427, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.searching .searching-list li.off {
  opacity: .6;
}
/* line 429, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.searching .searching-list li.off .switch-wrapper {
  background: #e4e4e4;
}
/* line 431, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.searching .searching-list li.off .switch-wrapper:after {
  content: "OFF";
  color: #727272;
  font-weight: 700;
  position: relative;
  top: 4px;
  right: -28px;
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 441, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.searching .searching-list li.off .switch-button {
  background: #727272;
  left: 5px;
}

/* line 449, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.switch-wrapper {
  width: 65px;
  height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  position: relative;
}
/* line 454, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.switch-wrapper .switch-button {
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
}

/* line 463, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.percentage-box {
  width: 98%;
  padding: 20px;
  margin: 1% auto;
  text-align: center;
}
/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/globals/_mixins.scss */
.percentage-box:after {
  clear: both;
  content: '';
  display: table;
}
/* line 469, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.percentage-box h2 {
  text-align: left;
}

/* line 473, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.percentage {
  background: #b05574;
  color: #fff;
  display: inline-block;
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 30px;
  font-size: 1.875rem;
}

/* line 485, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.chart {
  width: 98%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 27px 20px;
  margin: 1% auto;
}

/* line 492, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.chart-list {
  text-align: center;
}
/* line 494, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.chart-list li {
  text-align: left;
  display: inline-block;
  width: 7%;
}
/* line 498, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.chart-list li .progress {
  background: #f1f1f1;
  height: 100px;
  width: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}
/* line 504, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.chart-list li .progress .bar {
  background: #5e9fa3;
  width: 100%;
  position: absolute;
  bottom: 0px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 512, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.chart-list li .month {
  color: #4D5159;
  margin: 5px 0px 0px 2px;
}

/* line 519, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.timer {
  width: 98%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  margin: 2% auto;
}
/* line 524, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.timer li {
  display: inline-block;
  width: 32%;
  text-align: center;
  font-size: 50px;
  font-size: 3.125rem;
  color: #5e9fa3;
}
/* line 530, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.timer li span {
  display: block;
}
/* line 533, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.timer li .text {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
}
/* line 538, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.timer li .hour:after {
  content: ":";
  position: relative;
  left: 10px;
}
/* line 544, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.timer li .hour.last:after {
  content: "";
}

/* line 552, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.graphics {
  width: 98%;
  padding: 27px 20px;
  margin: 2% auto;
}

/* line 558, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.notification {
  font-size: 20px;
  font-size: 1.25rem;
  background: #5e9fa3;
  color: #fff;
  font-weight: 700;
  max-width: 400px;
  position: absolute;
  right: -400px;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
}
/* line 569, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.notification .text {
  padding: 40px;
}
/* line 571, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.notification .text h2 {
  font-size: 26px;
  font-size: 1.625rem;
}
/* line 575, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.notification .actions {
  display: block;
  font-size: 0px;
  font-size: 0rem;
}
/* line 578, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.notification .actions a {
  width: 50%;
  display: inline-block;
  padding: 20px;
  text-align: center;
  font-size: 26px;
  font-size: 1.625rem;
}
/* line 585, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.notification .actions .ok {
  background: #4b8083;
}
/* line 587, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.notification .actions .ok:hover {
  background: #549093;
}
/* line 591, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.notification .actions .ko {
  background: #b05574;
}
/* line 593, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.notification .actions .ko:hover {
  background: #a14b68;
}

/* line 601, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.open-notification .overlay {
  display: block;
}
/* line 604, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.open-notification .notification {
  z-index: 1000;
  z-index: 1000;
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 18px;
  font-size: 1.125rem;
}
/* line 615, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.open-notification .notification .icon {
  font-size: 24px;
  font-size: 1.5rem;
  vertical-align: middle;
}

/* line 622, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
}
/* line 625, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.loader img {
  text-align: center;
}
/* line 628, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.loader .load-text {
  color: #5e9fa3;
  display: block;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875rem;
}

/* line 638, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.loading .task-box {
  position: relative;
  opacity: 0;
}
/* line 642, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.loading .loader {
  display: block;
  opacity: 1;
}

/* line 647, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.error-msg {
  display: none;
}

/* line 652, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.error .task-wrapper {
  height: 210px;
}
/* line 654, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.error .task-wrapper .task-box {
  display: none;
}
/* line 657, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.error .task-wrapper .error-msg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #990100;
  font-size: 20px;
  font-size: 1.25rem;
  max-width: 25%;
}
/* line 663, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.error .task-wrapper .error-msg span {
  vertical-align: middle;
}

/* line 670, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.overlay {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  position: fixed;
  z-index: 999;
}

/* line 681, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
.transition {
  -moz-transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

@media only screen and (min-width: 55.625em) {
  /* line 689, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
  .results {
    width: 49%;
    margin-bottom: 0px;
  }
  /* line 692, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
  .results.left {
    float: left;
  }
  /* line 695, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
  .results.right {
    float: right;
  }

  /* line 699, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
  .dashboard .chat {
    width: 49%;
    float: left;
    margin-right: 1%;
  }

  /* line 705, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
  .assistant-dashboard .row {
    margin: 0px;
  }
  /* line 708, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
  .assistant-dashboard section {
    vertical-align: top;
    display: inline-block;
  }
  /* line 712, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
  .assistant-dashboard .user-profile {
    width: 32.3%;
    margin: 2% 2% 2% 0px;
  }
  /* line 716, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
  .assistant-dashboard .money {
    width: 32.3%;
    margin: 2% 2% 2% 0px;
  }
  /* line 721, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
  .assistant-dashboard .percentage-box {
    width: 30%;
    margin: 2% 0px 0px 0px;
  }
  /* line 726, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
  .assistant-dashboard .searching {
    width: 32%;
    margin: 0px 2% 0px 0px;
  }
  /* line 731, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
  .assistant-dashboard .chart {
    width: 65%;
    margin: 0px;
  }
  /* line 736, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
  .assistant-dashboard .timer {
    width: 32%;
    margin: 2% 2% 0px 0px;
  }
  /* line 739, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
  .assistant-dashboard .timer li {
    font-size: 40px;
    font-size: 2.5rem;
  }
  /* line 743, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
  .assistant-dashboard .graphics {
    width: 65%;
    margin: 2% 0px 0px;
  }

  /* line 748, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
  .button-row {
    width: 100%;
  }
}
@media only screen and (max-width: 34.37438em) {
  /* line 754, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
  h3 {
    font-size: 30px;
    font-size: 1.875rem;
  }

  /* line 758, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
  .top-banner .h-beta {
    display: block;
  }
  /* line 761, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_dashboard.scss */
  .top-banner .time-left {
    position: static;
    display: block;
    width: 100%;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    margin: 20px auto 0px;
    float: none;
  }
}
/*------------------------------------*\
  $FOOTER
\*------------------------------------*/
/* line 6, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_footer.scss */
.main-footer {
  background: #5e9fa3;
  color: #fff;
  padding: 20px;
}
/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/globals/_mixins.scss */
.main-footer:after {
  clear: both;
  content: '';
  display: table;
}
/* line 12, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_footer.scss */
.main-footer .footer-list li {
  padding: 3px 0px;
}
/* line 15, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_footer.scss */
.main-footer .footer-list a {
  color: #bfd9db;
}
/* line 17, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_footer.scss */
.main-footer .footer-list a:hover {
  color: #b05574;
}
/* line 22, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_footer.scss */
.main-footer .social {
  margin-top: 20px;
}
/* line 24, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_footer.scss */
.main-footer .social a {
  background: #bfd9db;
  color: #5e9fa3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-right: 5px;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
}
/* line 35, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_footer.scss */
.main-footer .social a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 38, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_footer.scss */
.main-footer .social a:hover {
  background: #9fc6c8;
}
@media only screen and (min-width: 34.375em) {
  /* line 44, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_footer.scss */
  .main-footer .footer-list {
    float: left;
    width: 33%;
  }
  /* line 48, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_footer.scss */
  .main-footer .social {
    float: right;
    margin-top: 0px;
  }
}

@media only screen and (min-width: 55.625em) {
  /* line 56, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_footer.scss */
  .main-footer {
    padding: 20px 0px;
  }
}
/* sticky footer */
/* line 63, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_footer.scss */
* {
  margin: 0;
}

/* line 66, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_footer.scss */
html, body {
  height: 100%;
}

/* line 69, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_footer.scss */
.all-content {
  min-height: 100%;
  margin: 0 auto -318px;
  /* the bottom margin is the negative value of the footer's height */
}

/* line 73, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_footer.scss */
footer, .push-footer {
  height: 318px;
  /* '.push' must be the same height as 'footer' */
}

@media only screen and (min-width: 34.375em) {
  /* line 78, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_footer.scss */
  .all-content {
    margin: 0 auto -187px;
  }

  /* line 81, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_footer.scss */
  footer, .push-footer {
    height: 187px;
  }
}
/*------------------------------------*\
  $HEADER
\*------------------------------------*/
/* line 6, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
.main-header {
  background: #fff;
  opacity: .97;
  color: #5e9fa3;
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 1px 1px 1px #e4e4e4;
  min-height: 73px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
}
/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/globals/_mixins.scss */
.main-header:after {
  clear: both;
  content: '';
  display: table;
}
/* line 19, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
.main-header .logo {
  padding-left: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  float: left;
  display: block;
}
/* line 24, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
.main-header .logo a {
  font-size: 24px;
  font-size: 1.5rem;
}
/* line 27, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
.main-header .logo img {
  width: 60px;
  height: auto;
}
/* line 32, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
.main-header .mobile-top {
  position: relative;
}
/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/globals/_mixins.scss */
.main-header .mobile-top:after {
  clear: both;
  content: '';
  display: table;
}
/* line 36, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
.main-header .main-nav {
  max-height: 0px;
  overflow: hidden;
}
/* line 39, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
.main-header .main-nav a {
  text-transform: uppercase;
  display: block;
  padding: 20px;
  border-bottom: 1px solid #f0f6f6;
}
/* line 44, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
.main-header .main-nav a:hover {
  background: #f0f6f6;
}
/* line 48, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
.main-header .main-nav a:active {
  background: #68a5a9;
  color: #fff;
}
/* line 54, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
.main-header .menu-icon {
  float: right;
  font-size: 30px;
  font-size: 1.875rem;
  padding: 20px;
  line-height: 1em;
  color: #5e9fa3;
}
/* line 60, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
.main-header .menu-icon:active {
  background: #68a5a9;
  color: #b05574;
}
/* line 65, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
.main-header .open-nav {
  max-height: 500px;
}
@media only screen and (min-width: 55.625em) {
  /* line 69, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
  .main-header .main-nav {
    max-height: 500px;
    float: right;
  }
  /* line 72, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
  .main-header .main-nav a {
    display: inline-block;
    padding: 30px 20px;
    border-bottom: none;
  }
  /* line 78, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
  .main-header .mobile-top {
    float: left;
    padding-left: 0px;
  }
  /* line 82, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
  .main-header .logo {
    position: static;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    line-height: 76px;
  }
  /* line 89, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
  .main-header .menu-icon {
    display: none;
  }
}
/* line 94, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
.main-header.dashboard p {
  display: inline-block;
  font-size: 20px;
  font-size: 1.25rem;
}
/* line 98, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
.main-header.dashboard .main-nav {
  display: block;
  max-height: none;
  float: right;
}
/* line 102, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
.main-header.dashboard .main-nav p {
  color: #b05574;
  font-weight: 700;
  display: inline-block;
}
/* line 107, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
.main-header.dashboard .main-nav p span {
  vertical-align: middle;
}
/* line 111, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
.main-header.dashboard .main-nav a {
  display: inline-block;
  padding: 30px 20px;
  border-bottom: none;
}
@media only screen and (max-width: 34.37438em) {
  /* line 119, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
  .main-header.dashboard {
    height: 120px;
  }
  /* line 121, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
  .main-header.dashboard .logo {
    position: static;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    padding: 10px;
  }
  /* line 127, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
  .main-header.dashboard .logo img {
    width: 60px;
    height: 60px;
  }
  /* line 131, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
  .main-header.dashboard .logo a {
    font-size: 18px;
    font-size: 1.125rem;
  }
  /* line 136, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
  .main-header.dashboard .main-nav a {
    font-size: 16px;
    font-size: 1rem;
    padding: 28px 10px;
  }
  /* line 140, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_header.scss */
  .main-header.dashboard .main-nav p {
    font-size: 16px;
    font-size: 1rem;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    color: #fff;
    background: #b05574;
    text-align: center;
  }
}

/*------------------------------------*\
  $HERO
\*------------------------------------*/
/* line 6, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_hero.scss */
.hero {
  background: #fff;
  padding: 40px 20px;
  text-align: center;
  color: #4D5159;
}
/* line 11, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_hero.scss */
.hero .h-alpha {
  margin-bottom: 20px;
  font-size: 54px;
  font-size: 3.375rem;
}

/* line 16, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_hero.scss */
.task-wrapper {
  width: 100%;
  background: #fff;
}

/* line 20, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_hero.scss */
.task-box {
  width: 90%;
  font-size: 0px;
  font-size: 0rem;
  margin: 40px auto;
  max-width: 780px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 28, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_hero.scss */
.task-box .task {
  font-size: 18px;
  font-size: 1.125rem;
  display: inline-block;
  width: 49%;
}
/* line 32, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_hero.scss */
.task-box .task span {
  display: block;
}
/* line 35, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_hero.scss */
.task-box .task .icon {
  font-size: 30px;
  font-size: 1.875rem;
  margin-bottom: 10px;
}
/* line 39, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_hero.scss */
.task-box .task a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 20px;
  width: 100%;
  background: #f0f6f6;
  color: #5e9fa3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  min-height: 130px;
}
/* line 50, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_hero.scss */
.task-box .task a .content {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 54, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_hero.scss */
.task-box .task a:hover {
  background: #4b8083;
  color: #fff;
}
/* line 59, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_hero.scss */
.task-box .task:first-child {
  margin: 0px 1% 1% 0px;
}
/* line 62, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_hero.scss */
.task-box .task:last-child {
  margin-left: 1%;
}
@media only screen and (min-width: 55.625em) {
  /* line 67, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_hero.scss */
  .task-box .task {
    width: 24%;
    margin-right: 1%;
  }
  /* line 70, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_hero.scss */
  .task-box .task:first-child {
    margin: 0px 1% 0px 0px;
  }
  /* line 73, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_hero.scss */
  .task-box .task:last-child {
    margin: 0px;
  }
}

/* line 80, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_hero.scss */
.subtitle {
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 30px;
}

/*------------------------------------*\
  $ICONS
\*------------------------------------*/
/* line 7, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 21, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-heart:before {
  content: "\2665";
}

/* line 25, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-edit:before {
  content: "\e009";
}

/* line 29, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-alarm:before {
  content: "\e600";
}

/* line 33, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-done:before {
  content: "\e601";
}

/* line 37, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-coins:before {
  content: "\e602";
}

/* line 41, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-close:before {
  content: "\e603";
}

/* line 45, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-google:before {
  content: "\e604";
}

/* line 49, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-lock:before {
  content: "\e606";
}

/* line 53, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-facebook:before {
  content: "\e60a";
}

/* line 57, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-hotel:before {
  content: "\e60e";
}

/* line 61, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-star:before {
  content: "\e60f";
}

/* line 65, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-chart:before {
  content: "\e610";
}

/* line 69, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-hourglass:before {
  content: "\e611";
}

/* line 73, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-insert-drive-file:before {
  content: "\e612";
}

/* line 77, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-suitcase:before {
  content: "\e613";
}

/* line 81, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-home:before {
  content: "\e617";
}

/* line 85, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-menu:before {
  content: "\e618";
}

/* line 89, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-calendar:before {
  content: "\e619";
}

/* line 93, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-office:before {
  content: "\e61b";
}

/* line 97, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-suitcase2:before {
  content: "\e61c";
}

/* line 101, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-clock:before {
  content: "\e61e";
}

/* line 105, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-twitter:before {
  content: "\e61f";
}

/* line 109, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-sad:before {
  content: "\e620";
}

/* line 113, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-arrow-right:before {
  content: "\e624";
}

/* line 117, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-arrow-left:before {
  content: "\e625";
}

/* line 121, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-card:before {
  content: "\e626";
}

/* line 125, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-plane:before {
  content: "\e627";
}

/* line 129, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-happy:before {
  content: "\e628";
}

/* line 133, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-user:before {
  content: "\e629";
}

/* line 137, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-settings:before {
  content: "\e62a";
}

/* line 141, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_icons.scss */
.icon-vimeo:before {
  content: "\e614";
}

/*------------------------------------*\
  $SECTIONS
\*------------------------------------*/
/* line 6, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.main-content {
  padding-top: 73px;
  -webkit-overflow-scrolling: touch;
}

/* line 10, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-pattern {
  background: url(../images/hero1.png) no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 60px 0px;
}
/* line 15, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-pattern h1 {
  text-align: center;
}
/* line 18, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-pattern .chat {
  background: #fff;
  opacity: .94;
  height: 500px;
  margin: 40px auto;
}
/* line 23, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-pattern .chat .h-epsilon {
  background: #b05574;
}
/* line 27, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-pattern .chat .chat-footer input {
  background: transparent;
}

/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/globals/_mixins.scss */
.chat-row:after {
  clear: both;
  content: '';
  display: table;
}
/* line 35, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-row .text {
  background: #f0f6f6;
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  width: 80%;
  color: #4D5159;
}
/* line 44, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-row .chat-img {
  width: 20%;
}
/* line 46, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-row .chat-img img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
/* line 53, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-row.img-left .chat-img {
  float: left;
}
/* line 56, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-row.img-left .text {
  float: right;
}
/* line 58, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-row.img-left .text:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f0f6f6;
  position: absolute;
  left: -5px;
  top: 10px;
}
/* line 70, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-row.img-left .name {
  color: #b05574;
}
/* line 75, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-row.img-right .chat-img {
  float: right;
}
/* line 78, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-row.img-right .text {
  float: left;
}
/* line 80, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-row.img-right .text:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #f0f6f6;
  position: absolute;
  right: -5px;
  top: 10px;
}
/* line 92, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-row.img-right .name {
  color: #5e9fa3;
}
/* line 96, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-row .name {
  font-weight: 700;
  display: inline-block;
  padding-right: 5px;
}

/* line 103, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.user-img {
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 110, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-footer {
  border-top: 1px solid #f1f1f1;
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 60px;
}
/* line 116, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.chat-footer span {
  color: #bebebe;
}

@media only screen and (min-width: 55.625em) {
  /* line 122, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
  .chat {
    width: 50%;
  }

  /* line 126, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
  .chat-row .chat-img img {
    width: 55px;
    height: 55px;
  }
}
/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/globals/_mixins.scss */
.steps:after {
  clear: both;
  content: '';
  display: table;
}
/* line 135, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.steps h1 {
  text-align: center;
}
/* line 138, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.steps .steps-group {
  position: relative;
  margin-top: 40px;
}
/* line 142, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.steps .step-item {
  width: 33.3%;
  text-align: center;
  float: left;
}
/* line 146, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.steps .step-item:before {
  background: #5e9fa3;
  width: 100%;
  height: 3px;
  background: #b05574;
  content: "";
  display: block;
  position: relative;
  z-index: 0;
  top: 30px;
}
/* line 157, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.steps .step-item .number {
  display: inline-block;
  text-align: center;
  background: #b05574;
  color: #fff;
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  font-size: 26px;
  font-size: 1.625rem;
  z-index: 1;
  position: relative;
  margin-bottom: 20px;
}
/* line 173, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.steps .step-title {
  margin-bottom: 10px;
  padding: 0px 10px;
  font-weight: 700;
  font-family: "museo-slab", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
}
/* line 181, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.steps .description {
  padding: 0px 10px;
}
@media only screen and (max-width: 34.37438em) {
  /* line 186, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
  .steps .step-item {
    display: block;
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
}

/* line 195, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.become-assistant {
  color: #fff;
  padding: 100px 20px;
  text-align: center;
  background: url(../images/hero.jpg) no-repeat center center;
  background-size: cover;
}
/* line 201, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.become-assistant .h-beta,
.become-assistant .h-gamma {
  padding-bottom: 20px;
}

/* line 207, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.panel {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px #ccc;
}

/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/globals/_mixins.scss */
.row:after {
  clear: both;
  content: '';
  display: table;
}

/* line 217, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.testimonials {
  padding: 0px 20px;
}
/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/globals/_mixins.scss */
.testimonials:after {
  clear: both;
  content: '';
  display: table;
}
/* line 220, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.testimonials .h-gamma {
  width: 100%;
  margin-bottom: 20px;
  color: #fff;
}
/* line 225, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.testimonials .testimonial {
  background: #fff;
  opacity: .9;
  display: inline-block;
  width: 100%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: 10px 10px 1px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 1px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 1px -1px rgba(0, 0, 0, 0.1);
  color: #4D5159;
}
/* line 238, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.testimonials .testimonial:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  bottom: -5px;
}
/* line 249, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.testimonials .user-info {
  margin-top: 20px;
}
/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/globals/_mixins.scss */
.testimonials .user-info:after {
  clear: both;
  content: '';
  display: table;
}
/* line 252, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.testimonials .user-info .user-name {
  font-weight: 700;
  margin-bottom: 5px;
  position: relative;
  top: 5px;
}
/* line 258, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.testimonials .user-info .light {
  color: #4D5159;
  font-size: 12px;
  font-size: 0.75rem;
}
/* line 263, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.testimonials .user-image {
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

/* line 272, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.call-action {
  padding: 160px 0px;
  text-align: center;
  color: #fff;
  background: url(/assets/images/hero2.jpg) no-repeat center center;
  background-size: cover;
}
/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/globals/_mixins.scss */
.call-action:after {
  clear: both;
  content: '';
  display: table;
}
/* line 279, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.call-action .call-content {
  width: 50%;
  float: right;
}
/* line 283, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.call-action .button {
  margin-top: 20px;
}
@media only screen and (max-width: 34.37438em) {
  /* line 287, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
  .call-action .call-content {
    float: none;
    width: 90%;
    margin: 0 auto;
  }
}

/* line 296, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.preregister .chat {
  float: none;
  margin: 40px auto;
  background: #fff;
  max-width: 600px;
}

/* line 305, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.sample {
  position: relative;
  text-align: center;
}
/* line 99, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/globals/_mixins.scss */
.sample:after {
  clear: both;
  content: '';
  display: table;
}
/* line 309, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.sample .h-beta {
  margin-bottom: 40px;
}
/* line 312, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.sample .sample-images {
  width: 100%;
  float: none;
  text-align: center;
  height: 380px;
  overflow: hidden;
  position: relative;
}
/* line 320, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.sample .sample-img {
  margin-bottom: 50px;
  min-width: 600px;
  width: 100%;
  height: auto;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 329, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.sample .sample-img.solid {
  opacity: 1;
}
/* line 333, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.sample .main-list {
  margin-bottom: 20px;
}
/* line 336, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.sample .main-list li {
  padding: 14px 5px;
  font-size: 18px;
  font-size: 1.125rem;
}
/* line 339, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
.sample .main-list li.active {
  color: #b05574;
  font-weight: 700;
}
@media only screen and (min-width: 55.625em) {
  /* line 346, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
  .sample .sample-images {
    width: 70%;
    max-height: 330px;
    float: left;
  }
  /* line 351, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
  .sample .sample-img {
    width: 89%;
  }
  /* line 355, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
  .sample .main-list {
    text-align: left;
    width: 30%;
    float: left;
  }
}

@media only screen and (min-width: 55.625em) {
  /* line 364, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
  .main-content {
    padding-top: 80px;
  }

  /* line 368, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
  .testimonials .h-gamma {
    width: 50%;
    float: left;
  }
  /* line 372, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
  .testimonials .testimonial {
    width: 45%;
  }
  /* line 374, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
  .testimonials .testimonial.right {
    float: right;
  }
  /* line 377, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
  .testimonials .testimonial.left {
    float: left;
  }
}
@media only screen and (max-width: 34.37438em) {
  /* line 386, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_sections.scss */
  .main-content.dashboard {
    padding-top: 120px;
  }
}
/*------------------------------------*\
  $SLABS
\*------------------------------------*/
/* line 6, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_slabs.scss */
.grey-slab {
  background: #f1f1f1;
  padding: 60px 20px;
}

/* line 11, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_slabs.scss */
.white-slab {
  background: #fff;
  padding: 60px 20px;
}

/* line 16, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_slabs.scss */
.primary-slab {
  background: #bfd9db;
  padding: 60px 20px;
  color: #fff;
}

/* line 22, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_slabs.scss */
.terciary-slab {
  background: #d3e5d4;
  opacity: .97;
  padding: 60px 20px;
}

@media only screen and (min-width: 55.625em) {
  /* line 29, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_slabs.scss */
  .grey-slab {
    padding: 60px 0px;
  }

  /* line 32, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_slabs.scss */
  .white-slab {
    padding: 60px 0px;
  }

  /* line 35, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_slabs.scss */
  .primary-slab {
    padding: 60px 0px;
  }

  /* line 38, /Users/saramoreno/proyectos/doitforme/source/assets/stylesheets/objects/_slabs.scss */
  .secondary-slab {
    padding: 60px 0px;
  }
}
